<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- boostrap 4 cdn css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>Todo App</title> <!--baslik-->
</head>
<body>
    <div style = 'margin-top: 50px;' class = 'container'> <!--style bastan 50 px bosluk birak-->
        <h3>Todo List</h3>
        <hr>


        <form action="/add" method = 'POST'>
        <!--boostrap 4 input form-->
            <div class="form-group">
                <label for="formGroupExampleInput">TO DO</label>
                <input type="text" class="form-control" name = 'title' id="formGroupExampleInput" placeholder="todo giriniz."><br>
                <button type = 'submit' class="btn btn-danger">ekle</button>
            </div>
            <hr>
        

    
        </form>
        <!--eger sistemde herhangi bir todo girdisi yoksa  durum kontrolu, ve bosstrap 4-->
    {% if todos== [] %}
        <div class="alert alert-info" role="alert">
            Henuz bir todunuz bulunmuyor...
        </div>
    
    {% else %}
    <!--sitedeki tablo yapisi boostrap 4 table-->
    <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Todo baslik</th>
            <th scope="col">Todo  durum</th>
            <th scope="col">durum guncelle</th>
            <th scope="col">Todo sil</th>
          </tr>
        </thead>
        <tbody>
            {% for todo in todos  %}
                <tr>
                    <th scope="row">{{todo.id}}</th>
                    <td>{{todo.title}}</td>
                    {% if todo.complete == False %}
                    <td>tamamlanmadi</td>
                    {% else %}
                    <td>Tamamlandi</td>
                    {% endif %}
                    
                    <td><a href="/complete/{{todo.id}}" class="btn btn-danger">tamamla/devam et</a></td>
                    <td><a href="/delete/{{todo.id}}" class="btn btn-danger">sil</a></td>
                </tr>
            {% endfor %}
     
        </tbody>
    </table>
    {% endif %}
    
    </div> 
 
    


    <!--boostrap 4 cdn js taglari -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
</body>
</html>